  .main-gallery {
    background: url('../images/oliveharvest-reach.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 60px;
    height: 800px;  
    /* lt ie8 */
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: 30% 50%; 
    /* scale bg image proportionately */
    background-size: cover;   
    /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
    -ms-behavior: url(/backgroundsize.min.htc);
    /* prevent scaling past src width (or not) */
    /* max-width: 1200px; */
  }

.image-left {
  height: 300px;
  float: left;
  margin: 25px 25px 25px 0;
}

.image-right {
  height: 300px;
  float: right;
  margin: 25px 0px 25px 25px;
}

section {
  /*position: absolute;*/
  /*top: 300;*/
  /*height: 100%;*/
  /*width: 80%;*/
  background-color: #ddd;
}

p {
  text-align: left;
}
